.row
  .col-md-12
    .toolbox.pull-right
      = event.tweet_button
    .jumbotron
      %h1
        = event
        %small= event.status
        %small.item.dates
          %date.start #{event.start_date.to_s(:month_day_year) unless event.start_date.blank?}
          %span to
          %date.end #{event.end_date.to_s(:month_day_year) unless event.end_date.blank?}
      %p
        %a{ href: event.url }#{event.url}
  .col-md-12
  .col-md-8
    .markdown
      - if event.closed?
        Closed on
        %strong= event.closes_at(:long_with_zone)
      = markdown(event.guidelines)
  .col-md-4
    - if event.open?
      %p= link_to 'Submit a proposal', new_proposal_path(slug: event.slug), class: 'btn btn-primary'
      - if event.closes_at?
        %p
          Closes at
          %strong= event.closes_at(:long_with_zone)
        %p
          %strong
            = time_ago_in_words(event.closes_at)
            left
          to submit your proposal!
      %p
        If you have any trouble submitting a proposal, don't hesitate to contact us at
        = mail_to event.contact_email

    -# - if event.proposals.count > 5
    -#   .stats
    -#     %h2 CFP Stats
    -#     = pluralize(event.proposals.count, 'proposal')
    -#     = event.line_chart
