#proposal
  .row
    .col-md-12
      %h1= proposal.title

      .toolbox.pull-right
        %date#updated_subheader= proposal.created_in_words
        %date#updated_subheader= proposal.updated_in_words
        .btn-group
          =link_to(reviewer_event_proposals_path, class: "btn btn-primary") do
            &laquo; Return to Proposals
          =link_to "Next Proposal", reviewer_event_proposal_path(uuid: "PLACEHOLDER"), class: "next-proposal btn btn-primary", data: {"proposal-uuid" => proposal.uuid }

      .tags= proposal.tags


  .row
    .col-md-4
      .panel.panel-default
        .panel-body
          = render partial: 'proposals/contents', locals: { proposal: proposal }

    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Public Comments
          %p.help-block These comments are visible to both reviewers and the speaker.
        .panel-body
          = render partial: 'proposals/comments',
            locals: { proposal: proposal, comments: proposal.public_comments }

    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Review
        .panel-body
          - unless proposal.has_speaker?(current_user)
            = link_to "#", {id: "rating-tooltip", data: {toggle: "tooltip", placement: "bottom"}, title: rating_tooltip } do
              %span.glyphicon.glyphicon-question-sign
          - unless proposal.draft?
            = proposal.state_label
          #rating-form
            = render partial: 'shared/proposals/rating_form',
              locals: { event: event, proposal: proposal, rating: rating }

          %h3 Tags
          = render partial: 'shared/proposals/tags_form',
            locals: { event: event, proposal: proposal }



      .internal-comments{ style: proposal.internal_comments_style }
        .panel.panel-primary
          .panel-heading
            %h4.panel-title Internal Comments
            %p.help-block These comments are only visible to other reviews and organizers
          .panel-body
            = render partial: 'proposals/comments',
              locals: { proposal: proposal, comments: proposal.internal_comments }
