#proposal.reviewer
  .row
    .col-md-12
      .toolbox.fixed-top-right
        .btn-group
          %span.btn.btn-default.disabled
            Proposals rated:
            %span= event.proposals_rated_message
          =link_to(reviewer_event_proposals_path, class: "btn btn-primary") do
            &laquo; Return to Proposals
          =link_to "Next Proposal", reviewer_event_proposal_path(uuid: "PLACEHOLDER"), class: "next-proposal btn btn-success", data: {"proposal-uuid" => proposal.uuid }

      .jumbotron
        %h2= proposal.title
        %p
          %date#updated_subheader= proposal.created_in_words
          %date#updated_subheader= proposal.updated_in_words
        %p.tags
          %span.label.label-default Tags:
          = proposal.tags
        %p.tags
          - unless proposal.draft?
            %span.label.label-default State:
              = proposal.state_label
          %span.label.label-default Review tags:
          = proposal.review_tags


  = render partial: 'proposals/contents_reviewer', locals: { proposal: proposal }
  .row
    .col-md-6
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Review
        .panel-body
          - unless proposal.has_speaker?(current_user)
            = link_to "#", {id: "rating-tooltip", data: {toggle: "tooltip", placement: "bottom"}, title: rating_tooltip } do
              %span.glyphicon.glyphicon-question-sign
          - unless proposal.draft?
            = proposal.state_label
          #rating-form
            = render partial: 'shared/proposals/rating_form',
              locals: { event: event, proposal: proposal, rating: rating }

          %hr
          = render partial: 'shared/proposals/tags_form',
            locals: { event: event, proposal: proposal }

      .internal-comments{ style: proposal.internal_comments_style }
        .panel.panel-primary
          .panel-heading
            %h4.panel-title
              Internal Comments
              %small Visible to Reviewers & Organizers
          = render partial: 'proposals/comments',
            locals: { proposal: proposal, comments: proposal.internal_comments }

    .col-md-6
      .panel.panel-primary
        .panel-heading
          %h4.panel-title
            Public Comments
            %small Visible to Speaker, Reviewers & Organizers
        = render partial: 'proposals/comments',
          locals: { proposal: proposal, comments: proposal.public_comments }
