.row
  %fieldset.col-md-12
    %p
      Read the #{link_to 'guidelines', event_path(event.slug)} to maximize
      your chance of approval.
      %strong
        Refrain from including any information that
        might cause unintentional bias in the review process or would allow
        a reviewer to identify you.
      All fields support
      %a{href: 'https://help.github.com/articles/github-flavored-markdown'}
        GitHub Flavored Markdown.

  %fieldset.col-md-6
    .panel.panel-primary
      .panel-heading
        %h2.panel-title For our website
      .panel-body
        %p.help-block
          This content will be
          %strong visible
          to the review committee, as well as
          %strong everyone else
          if your proposal is approved.
        = proposal.title_input(f)
        = proposal.abstract_input(f)

    .panel.panel-primary
      .panel-heading
        %h2.panel-title For Review Committee
      .panel-body
        %p.help-block
          This content will
          %strong only
          be visible to the review committee.
        %hr

        - if event.proposal_tags.any?
          %label.text.optional.control-label Tags
          %br
          = f.select :tags,
            options_for_select(event.proposal_tags, proposal.object.tags),
            {}, {class: 'multiselect proposal-tags', multiple: true }
          %p.help-block Please select all tags you feel apply to your proposal.
          %br

        = f.input :details, input_html: { class: 'watched', rows: 10 },
          placeholder: 'Explain the theme and flow of your talk. What are the intended audience takeaways?',
          hint: 'Include any pertinent details such as outlines, outcomes or intended audience.'

        = f.input :pitch, input_html: { class: 'watched', rows: 5 },
          placeholder: 'Why is this talk pertinent? What is your involvement in the topic?',
          hint: 'Explain why this talk should be considered and what makes you qualified to speak on the topic.'

  %fieldset.col-md-6
    = render partial: 'preview', locals: { proposal: proposal }
%hr
.row
  %fieldset.col-md-6
    - if event.custom_fields.any?
      .panel.panel-primary
        .panel-heading
          %h2.panel-title Additional information
        .panel-body
          %p
            This information is intented for the organizers, and will be
            %strong hidden
            from the review committee.

          - event.custom_fields.each do |custom_field|
            .form-group
            = f.label custom_field
            = text_field_tag "proposal[custom_fields][#{custom_field}]", proposal.custom_fields[custom_field], class: "form-control"

  %fieldset.col-md-6
    = render partial: 'speakers/fields', locals: { f: f }

  %fieldset.col-md-12
    .form-submit.clearfix
      %button.pull-right.btn.btn-primary.btn-lg{:type => "submit"} Submit Proposal
