#proposal
  .row
    .col-md-12
      .toolbox.pull-right
        .btn-group.clearfix
          - if current_user.organizer_for_event?(event)
            = smart_return_button
            =link_to(edit_organizer_event_proposal_path(proposal.event_id, proposal.uuid), class: "btn btn-primary", id: 'edit') do
              %span.glyphicon.glyphicon-edit
              Edit Proposal
          =link_to "Next Proposal", organizer_event_proposal_path(uuid: "PLACEHOLDER"), class: "next-proposal btn btn-success", data: {"proposal-uuid" => proposal.uuid }

        - if proposal.organizer_confirm
          .btn-group.clearfix
            = link_to "Confirm for Speaker", confirm_proposal_path(slug: proposal.event.slug, uuid: proposal), class: "btn btn-primary"

      .jumbotron
        %h2= proposal.title

        %p
          %date#updated_subheader= proposal.updated_in_words
        %p.tags
          %span.label.label-default Tags:
          = proposal.tags
        %p.help-block
          Proposal status:
          = proposal.state_label

        #state_buttons.btn-group.clearfix
          = proposal.state_buttons



  .row
    = render partial: 'proposals/contents_organizer', locals: { proposal: proposal }

    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Speakers
        .panel-body
          %section
            = render partial: 'organizer/proposals/speakers', locals: { speakers: proposal.speakers }

    - if proposal.state == 'accepted'
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Confirmation Notes
        .panel-body
          = render partial: 'proposals/confirmation_notes', locals: {proposal: proposal, notes: proposal.confirmation_notes}

    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Other Proposals
        .panel-body
          = render partial: 'other_proposals', locals: { event: event, other_proposals: other_proposals }

    .clearfix
    .col-md-6
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Review
        .panel-body
          - unless proposal.has_speaker?(current_user)
            = link_to "#", {id: "rating-tooltip", data: {toggle: "tooltip", placement: "bottom"}, title: rating_tooltip } do
              %span.glyphicon.glyphicon-question-sign
          #rating-form
            = render partial: 'rating_form', locals: { event: event, proposal: proposal, rating: rating }

          - if proposal.proposal_data?
            %h4 Video URL
            %p= proposal.proposal_data[:video_url]
            %h4 Slides URL
            %p= proposal.proposal_data[:slides_url]

          %hr
          = render partial: 'shared/proposals/tags_form', locals: { event: event, proposal: proposal }

      .internal-comments
        .panel.panel-primary
          .panel-heading
            %h4.panel-title
              Internal Comments
              %small Visible to Reviewers & Organizers
          = render partial: 'proposals/comments', locals: { proposal: proposal, comments: proposal.internal_comments }

    .col-md-6
      .panel.panel-primary
        .panel-heading
          %h4.panel-title
            Public Comments
            %small Visible to Speaker, Reviewers & Organizers
        = render partial: 'proposals/comments', locals: { proposal: proposal, comments: proposal.public_comments }
